<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 精简表格</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

{% for item in data %}

    <div class="panel panel-default" style="width: 80%">
        <div class="panel-heading">
            <h3 class="panel-title">面板标题</h3>
        </div>
        <div class="panel-body">
            这是一个基本的面板
        </div>
        <table class="table">

            <tbody>
            <tr>
                <th class="info">提交版本</th>
                <td>{{ item.version.vtitle }}</td>
                <th class="info">券商代码</th>
                <td>{{ item.version.vtrader_code }}</td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th class="info">提交日期</th>
                <td>{{ item.version.vcommit_date }}</td>
                <th class="info"> bundleId（包名）</th>
                <td>{{ item.version.vbundle_id }}</td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th class="info">打包名称</th>
                <td>{{ item.version.vtitle }}</td>
                <th class="info">项目描述</th>
                <td> {{ item.version.vname }}</td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th class="info">环境选择</th>
                <td>{{ item.version.visdebug }}</td>
                <th class="info">SVNRevison</th>
                <td> {{ item.version.vsvn_version }}</td>
                <th class="info">VersionCode(安卓适用)</th>
                <td> {{ item.version.vversion_code }}</td>
            </tr>
            <tr>
                <th class="info">认证服务器地址</th>
                <td> {{ item.version.vserver_ip }}</td>
                <th class="info"> 提交包文件地址</th>
                <td> {{ item.version.vupdate_address }}</td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th class="info">编号</th>
                <th class="info">问 题 描 述</th>
                <th class="info">等 级</th>
                <th class="info">发生原因 和 修改方案 (请尽可能通过TD自动更新本项)</th>
                <th class="info">自测结果</th>
                <th class="info">开发人员</th>
            </tr>
            {% for bug in item.bugs %}
                {% if bug.blevel > 1 %}
                    <tr class="danger">
                        {% else %}
                    <tr class="warning">
                {% endif %}
            <td>1</td>
            <td>{{ bug.bcontent }}</td>
            <td>{{ bug.blevel }}</td>
            <td>{{ bug.bsolution }}</td>
            <td> {{ bug.bresult }}</td>
            <td>{{ bug.bman }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endfor %}

</body>
</html>
